#about {
    height: 100vh;
    margin: 0 250px;
    box-sizing: border-box;
    align-items: center;
}

.banner-about img {
    border-radius: 5px;
    width: 100%;
}
.about-text {
    font-size: 20px;
    color: #0a0c4d;
    font-weight: 500;
    margin: 20px 0;    
}

.store-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.store-img img {
    width: 420px;
}



@media (max-width: 450px) {
    #about {
        height: 100vh;      
        margin: 40px 10px;      
    }
    
    .about-text {
        font-size: 10px;
        margin: 8px 4px 0 4px;
        padding: 0;
    }
    .about-text p {
        margin: 0 0 2px 0;
    }

    .banner-about img {
        width: 100%;
    }
    .store-img img {
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 1000px){
    #about {
       height: 100vh;      
       margin: 0 40px;
    }
    .about-text {
        font-size: 18px;
        margin: 5px 5px 0 5px;
        padding: 0;
    }
    .store-img img {
        width: 50%;
    }
}